In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('Banking.csv')
df

In [ ]:
#lets print the shape of the data frame
df.shape

#check the DataFrame info
df.info()

In [2]:
df['Estimated Income']

NameError: name 'df' is not defined

In [ ]:
pip install pyodbc

In [7]:
import pyodbc

conn = pyodbc.connect(
    r'DRIVER={SQL Server};SERVER=DESKTOP-AQSC85O\SQLEXPRESS;DATABASE=Banking;Trusted_Connection=yes;'
)

cursor = conn.cursor()
cursor.execute("SELECT @@VERSION")
print(cursor.fetchone())

('Microsoft SQL Server 2022 (RTM) - 16.0.1000.6 (X64) \n\tOct  8 2022 05:58:25 \n\tCopyright (C) 2022 Microsoft Corporation\n\tExpress Edition (64-bit) on Windows 10 Home Single Language 10.0 <X64> (Build 19045: ) (Hypervisor)\n',)

In [8]:
query = "SELECT * FROM  Banking"

In [13]:
query

'SELECT * FROM  Banking'

In [9]:
df = pd.read_sql(query,conn)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11944\785092515.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

In [10]:
conn.close

In [11]:
print(df)

     Client_ID              Name  Age  Location_ID Joined_Bank  \
0     IND81288     Raymond Mills   24        34324  2019-05-06
1     IND65833     Julia Spencer   23        42205  2001-12-10
2     IND47499    Stephen Murray   27         7314  2010-01-25
3     IND72498    Virginia Garza   40        34594  2019-03-28
4     IND60181   Melissa Sanders   46        41269  2012-07-20
...        ...               ...  ...          ...         ...
2995  IND66827         Earl Hall   82         8760  2014-10-09
2996  IND40556  Billy Williamson   44        32837  2009-02-05
2997  IND72414      Victor Black   70        36088  2009-12-29
2998  IND46652       Andrew Ford   56        24871  2006-02-13
2999  IND40216        Amy Nguyen   79        38518  2005-12-08

          Banking_Contact Nationality                     Occupation  \
0          Anthony Torres    American           Safety Technician IV
1        Jonathan Hawkins     African            Software Consultant
2           Anthony Berry    European             Help Desk Operator
3              Steve Diaz    American                   Geologist II
4              Shawn Long    American            Assistant Professor
...                   ...         ...                            ...
2995       Joshua Bennett    American       Accounting Assistant III
2996          Dennis Ruiz    European                      Paralegal
2997          Joshua Ryan    American                Statistician IV
2998  Nicholas Cunningham    European  Human Resources Assistant III
2999           Joe Hanson    American            Biostatistician III

     Fee_Structure Loyalty_Classification  ...  Bank_Deposits  \
0             High                   Jade  ...   1.485829e+06
1             High                   Jade  ...   6.414828e+05
2             High                   Gold  ...   1.033402e+06
3              Mid                 Silver  ...   1.048158e+06
4              Mid               Platinum  ...   4.877825e+05
...            ...                    ...  ...            ...
2995          High                   Gold  ...   1.089957e+06
2996           Mid                   Gold  ...   1.368913e+05
2997           Low                   Jade  ...   2.148609e+05
2998           Mid                   Jade  ...   7.426302e+05
2999          High                   Jade  ...   6.561766e+04

      Checking_Accounts  Saving_Accounts  Foreign_Currency_Account  \
0          6.036179e+05    607332.437500              12249.959961
1          2.295214e+05    344635.156250              61162.308594
2          6.526747e+05    203054.343750              79071.781250
3          1.048158e+06    234685.015625              57513.648438
4          4.466442e+05    128351.453125              30012.140625
...                 ...              ...                       ...
2995       5.328679e+05    657849.625000              12947.309570
2996       5.658174e+04     93195.609375              23205.689453
2997       1.587261e+05     35539.148438              30291.810547
2998       4.046382e+05     56411.328125               6413.140137
2999       7.776908e+04     32371.380859               8992.360352

      Business_Lending  Properties_Owned  Risk_Weighting  BRId  GenderId  IAId
0         1.134475e+06                 1               2     1         1     1
1         2.000526e+06                 1               3     2         1     2
2         5.481376e+05                 1               3     3         2     3
3         1.148402e+06                 0               4     4         1     4
4         1.674412e+06                 0               3     1         2     5
...                ...               ...             ...   ...       ...   ...
2995      1.238860e+06                 1               3     3         2     4
2996      2.771711e+05                 1               2     3         2     5
2997      5.029472e+05                 2               2     3         2     6
2998      1.538369e+06                 3               1     3         2     7
2999      3.294126e+05                 1               1     3         2     8

[3000 rows x 25 columns]